@import 'shared/buttons.css';

html {
  font-size: 100%; /*let the user control the font-size with their browser*/
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
  --color-danger-hue-offset: 180;
  --primary-dark-cyan: hsl(176, 72%, 28%);
  --primary-moderate-cyan: hsl(176, 50%, 47%);
  
  --hue-danger: calc(var(--hue-neutral) - var(--color-danger-hue-offset));
  /* KANJI FONT */
  --font-japanese: Klee One, cursive;
  
  /* Font Sizes */
  --font-sm: 0.875rem; /* 14px */
  --font-md: 1.125rem; /* 18px */
  --font-lg: 2rem; /* 32px */
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
}

h2, p {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.home-link {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-container > div  {
  --hue: var(--hue-neutral);
  background-color: var(--primary-dark-cyan); /*hsl(var(--hue), 100%, 20%);*/
}

.nav-container > div:hover  {
  cursor: pointer;
}


.container-body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 107px auto;
  grid-template-columns: auto;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-dark-cyan); /*hsl(var(--hue), 100%, 20%);*/
}

.container-body.correct {
  --hue: var(--hue-correct);
}

.container-body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  grid-row-start: 2;
  justify-self: center;
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.container-exercise {
  gap: 10px;
  margin: 5px 0;
}

.container-question {
  border: 1px solid;
  border-radius: 5px;
}

/* GRIDs */
.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.txtarea-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 150px;
  margin: 10px 0;
}

.input-grid {
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-rows: auto;
  margin: 5px 0;
  padding: 5px;
  gap: 5px;

}

.input-min-width {
  justify-self: start;
}

.input-grid.lf-col-nm-exercise {
  grid-template-columns: 102px auto;
  padding: 0;
}

.input-grid.col-3 {  
  grid-template-columns: 70px auto 20px;
  grid-template-rows: repeat(5, auto);
}


/* CONFIGURACAO DE LABELS */
.lb_margin {
  margin: 5px 0;
}

.lb_config {
  display: inline-block;
  text-align: right;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-area-config {
  resize: none;
}

.input-config {

}

.japanese-text {
  font-family: var(--font-japanese);
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin: 10px 0;
}

.lesson-name {
  margin-bottom: 10px;
}

.exercise-name {
  margin-bottom: 15px;
}

.exercise-description {
  margin-bottom: 10px;
}

/* CONFIGURACAO GENERICA */
.hide {
  display: none;
}